.votebar,.questiondesc{
	display: block;color: #225599;
	}
.question{
	word-wrap:break-word;
	}
.votenum{
	font-size: 24px;
	position: relative;

    text-align: center;
    margin-left: 3px;
}
.voteup {
	background-image:url('sprites-1.png');
	background-position: 0 0px;
	margin: 0;
}

.votedown {
	background-position: 0 -232px;
	margin: 0;
}
